<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BestNearMe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="Logos/BNM.ico"/>
    <link rel="stylesheet" type="text/css" href="styleCss.css">
</head>
<body>
<div class="background">
    <img src="Logos/Background.jpg" alt="background" style="width: 100%; position: relative;">

    <button class="btn1">Sign Out</button>
</div>
<div style="border: 3px solid black; background: #224666; color: #E2E8E3; margin-top: 20px; margin-left: 20px; margin-right: 20px">

    <br>
    <div class="row">
        <div class="col-2 col-sm-2 col-lg-2 col-md-2" style="margin-left: 10px ">

                <img class="avatar" src="Logos/Avatar.jpg" alt="Avatar">

            <form action="">
                <input style="border: 2px solid #E2E8E3; background: #224666; height:auto;width:400px;font-size: 25px;color: #E2E8E3 "
                       type="file" id="myFile" name="filename">
                <input type="submit" value="Upload">


            </form>
        </div>
        <div class="col-8 col-sm-8 col-lg-8 col-md-8" style="margin-left: 100px">
            <form>
                <div class="row" style="margin-left: 30px">
                    <div class="col-sm-4 col-4 col-lg-4 col-md-4">

                        <label for="" style="font-size: 2em">Username:</label><br>
                        <input type="text" id="username" name="username" value=""
                               style="font-size: 2em;height: 1.9em; width: 9.5em"><br>

                        <label for="" style="font-size: 2em">Password:</label><br>
                        <input type="password" id="password" name="password" value=""
                               style="font-size: 2em;height: 1.9em; width: 9.5em"><br>

                        <label for="" style="font-size: 2em">Birth Date:</label><br>
                        <input type="date" id="date" name="" value=""
                               style="font-size: 2em;height: 1.9em; width: 9.5em"><br>

                    </div>
                    <div class="col-sm-4 col-4 col-lg-4 col-md-4">

                        <label for="" style="font-size: 2em">First name:</label><br>
                        <input type="text" id="name" name="name" value=""
                               style="font-size: 2em;height: 1.9em; width: 9.5em"><br>

                        <label for="" style="font-size: 2em">Phone Number:</label><br>
                        <input type="text" id="phoneNumber" name="phoneNumber" value=""
                               style="font-size: 2em;height: 1.9em; width: 9.5em;"><br><br>

                    </div>
                    <div class="col-sm-4 col-4 col-lg-4 col-md-4">
                        <label for="" style="font-size: 2em">Last name:</label><br>
                        <input type="text" id="surnbame" name="surname" value=""
                               style="font-size: 2em;height: 1.9em; width: 9.5em;"><br>

                        <label for="" style="font-size: 2em">E-mail:</label><br>
                        <input type="email" id="email" name="" value=""
                               style="font-size: 2em;height: 1.9em; width: 12em"><br>
                    </div>

                </div>
                <br>
                <input type="submit" value="Submit" class="submitBtn" style="position: relative; right: 0;">
                <br>
                <br>
                <br>
            </form>
        </div>
    </div>
</div>
</body>
</html>