<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BestNearMe</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="shortcut icon" href="Logos/BNM.ico"/>
    <link rel="stylesheet" type="text/css" href="styleCss.css">
</head>
<body>
<div class="background">
    <img src="Logos/Background.jpg" alt="background" style="width: 100%; position: relative;">

    <button class="btn1">Sign Out</button>
</div>
<br>
<div class="row">
    <div class="col-2" style="margin-left: 20px">
        <div class="test">
            <img src="Logos/Avatar.jpg" alt="defaultAvatar" style="margin-left: 50px">
        </div>
        <br>
        <form>
            <label for="username" class="InfoBoxes">Username</label><br>
            <label for="name" class="InfoBoxes">First Name</label><br>
            <label for="surname" class="InfoBoxes">Last Name</label><br>
            <label for="PhoneNumber" class="InfoBoxes">Phone Number</label><br>
            <label for="E-mail" class="InfoBoxes">E-mail</label><br>
            <a href="Change_Info_Cus.html">
                <button class="changeInfo">Change Info</button>
            </a>
        </form>

    </div>
    <div class="col-8" style="background: #224666; margin-left: 150px; height: 600px">
        <br>
        <div class="row" style="height: max-content; padding-left: 20px; padding-right: 20px" >
            <div class="col-12" style="border: black 2px solid;height: 400px;color: #E2E8E3;">
                <div style=" color: #E2E8E3"><h1><u>History</u></h1></div>


            </div>
        </div>
        <br>
        <div class="row" style="align-items:center;margin: 0 auto;" >
            <div class="col-3" style="">
                <button class="customerBtns" style="width: 250px; font-size: 1.5em">Search Business</button>
            </div>
            <div class="col-3" style="">
                <button class="customerBtns" style="width: 250px; font-size: 1.5em">History Tab Review</button>
            </div>
            <div class="col-3" style="">
                <button class="customerBtns">Plan Me</button>
            </div>
            <div class="col-3" style="">
                <button class="customerBtns">Top Ten</button>
            </div>

        </div>
        <br>
    </div>
</div>
</body>
</html>